body, h1, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Noto Sans";
    color: #212529;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
display: block;
max-width: 100%;
}

* {
    box-sizing: border-box;
}

